@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=fallback');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700;800&display=swap');

/* @import 'additional-styles/custom-fonts'; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

/* Custom D3 styles */
.tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    z-index: 50;
}