@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=fallback');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700;800&display=swap');

/* @import 'additional-styles/custom-fonts'; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

/* Custom D3 styles */
.tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    z-index: 50;
}

/* .bar {
    mix-blend-mode: hard-light;
} */

/* .Max {
    fill: radial-gradient(circle at center, #5577FF 0%, #7766FF 30%, #9944FF 50%, #BB22FF 70%, #DD00FF 100%);
} */

.axis
{
  font: 10px sans-serif;
}

/* .axis path
{
  display: none;
} */

.axis path,
.axis line
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid line {
   /* stroke: lightgrey; */
   stroke-opacity: 0.7;
   shape-rendering: crispEdges;
}

/* Custom Vis */
.node circle {
  fill: #999;
}

.node text {
  font: 12px sans-serif;
  fill: white;
}

.node--internal circle {
  fill: #64748B;
}

.node--internal text {
  /* text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff; */
  fill: white;
  font-weight: bold;
}

.node--leaf circle {
  fill: #9333EA;
}

.node--leaf:hover {
  cursor: pointer;
}

.node--leaf:hover circle {
  fill: #7E22CE;
  stroke: #7E22CE;
  stroke-width: 3px;
}

.node--leaf:hover text {
  fill: #D8B4FE;
}

.node--leaf text {
  fill: white;
}

.link {
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.custom-form {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
